@font-face {
    font-family: 'AirbnbCereal_W_Bd';
    src: url('../../assets/fonts/AirbnbCerealWBd.woff2') format('woff2'),
        url('../../assets/fonts/AirbnbCerealWBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_Bk';
    src: url('../../assets/fonts/AirbnbCerealWBk.woff2') format('woff2'),
        url('../../assets/fonts/AirbnbCerealWBk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_Blk';
    src: url('../../assets/fonts/AirbnbCerealWBlk.woff2') format('woff2'),
        url('../../assets/fonts/AirbnbCerealWBlk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_Lt';
    src: url('../../assets/fonts/AirbnbCerealWLt.woff2') format('woff2'),
        url('../../assets/fonts/AirbnbCerealWLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_Md';
    src: url('../../assets/fonts/AirbnbCerealWMd.woff2') format('woff2'),
        url('../../assets/fonts/AirbnbCerealWMd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_XBd';
    src: url('../../assets/fonts/AirbnbCerealWXBd.woff2') format('woff2'),
        url('../../assets/fonts/AirbnbCerealWXBd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


html {
  scroll-behavior: smooth;
}

html,
body {
    font-family: 'AirbnbCereal_W_Lt';
  font-size: 16px;
  font-weight: $font-regular;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  color: $color-black;
  background-color: $color-white;
}

a,
button,
input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
li {
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.content-wrapper {
  width: 100%;
  max-width: 1440px;
  padding-left: $spacer-6;
  padding-right: $spacer-6;
  margin-left: auto;
  margin-right: auto;
}

.desk-visible {
  display: block;
}

.only-mobile {
  display: none;
}

.hide-mobile-tablet {
  display: block;
}

.only-mobile-tablet {
  display: none;
}

@include mobile-tablet {
  .content-wrapper {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
  }

  .hide-mobile-tablet {
    display: none;
  }

  .only-mobile-tablet {
    display: block;
  }
}

@include mobile {
  .content-wrapper {
    padding-left: $spacer-3;
    padding-right: $spacer-3;
  }

  .desk-visible {
    display: none;
  }

  .only-mobile {
    display: block;
  }
}
