.ab-footer {
  background: #f7f7f7;
  padding: 50px 0 20px;
  font-size: 14px;
  color: #222;

  .footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
  }

  .footer-col {
    h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    a {
      display: block;
      color: #222;
      margin-bottom: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer-left {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    a {
      color: #222;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-right {
    display: flex;
    align-items: center;
    gap: 15px;

    .social {
      display: flex;
      gap: 12px;

      a {
        font-size: 16px;
        color: #222;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        border-radius: 50%;
        padding: 4px 6px;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: #ddd;
          scale: 1.1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ab-footer {
    .footer-top {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    .footer-bottom {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
